@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{

    height: 100vh;
}
body{
    background-color: black;
    overflow-y: scroll;

}
li {

}
ul li:hover {
    color: rgb(247, 82, 82);

}

ul li:hover a {
    color: rgb(247, 82, 82);
}
.active {
    color: rgb(247, 82, 82);

}
    